debug {
  options {
    verifier {
      show {
        typesystem
        status
      }
      allow {
        undefined-method
        error-in-exception-handler
        permanent-runtime-exception
      }
    }
  }
  method_options {
    verifier {
      default {
        error {
          FIRST-LAST
        }
        check {
          cflow, resolve-id, typing, absint
        }
      }
    }
  }
}
